@model BookStore.DAO.User
@{
    
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <title>Đăng nhập</title>
    <link href="~/Content/CSS/Login.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    
    <div class="container login-form">
        <h2 class="login-title">- Please Login -</h2>
        <h2>Đăng nhập</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <form>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtUser" type="text" class="form-control" name="username" placeholder="Tên người dùng">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtPassword" type="password" class="form-control" name="password" placeholder="Mật khẩu">
                        <span id="showPassword" class="input-group-btn">
                            <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                        </span>
                    </div>
                    <button class="btn btn-primary btn-block login-button" type="submit"><i class="fa fa-sign-in"></i> Đăng nhập</button>
                    <div class="checkbox login-options">
                        <label><input type="checkbox" /> Lưu tài khoản</label>
                        <a href="#" class="login-forgot">Đăng ký</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        window.onload = function () { $("#showPassword").hide(); }

        $("#txtPassword").on('change', function () {
            if ($("#txtPassword").val()) {
                $("#showPassword").show();
            }
            else {
                $("#showPassword").hide();
            }
        });

        $(".reveal").on('click', function () {
            var $pwd = $("#txtPassword");
            if ($pwd.attr('type') === 'password') {
                $pwd.attr('type', 'text');
            }
            else {
                $pwd.attr('type', 'password');
            }
        });
    </script>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
